.conteudo-principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;

}

.conteudo-principal .content{
    width: 1000px;

}

.conteudo-principal .content-header{
    max-width: 100%;
    padding: 30px;
    background-color: #FFCB47;
    
}