.dashboard-container {
   
    width: 100%;
    width: 700px;
  
    height: auto;
    margin: 0 auto; /* Centraliza o dashboard horizontalmente */
  }

  @media(max-width:1010px) {
    .dashboard-container {
        width: 100%;
        width: 500px;
    
        height: auto;
        margin: 0 auto; /* Centraliza o dashboard horizontalmente */
      }
    
  }
  @media(max-width:500px) {
    .dashboard-container {
        width: 100%;
        width: 300px;
        height: auto;
        margin: 0 auto; /* Centraliza o dashboard horizontalmente */
      }
    
  }